body{ 
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    display: flex;
    flex-direction: column;
}   

.header, .subheader, .footer{
    background-color: #1F2937;
    color: #f9faf8;
    padding-left: 200px;
    padding-right: 200px;
}
.header{
    display: flex;
    justify-content: flex-end;
    gap: 16px;    
    padding-top: 50px;
}
.headerlogo{
    height: 100px;
    width: auto;
    padding-right: 880px;   
}
.footer{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.subheader{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px; 
    height: 200px;
    gap: 10px;
}

.subheader .subtitle{
    max-width: 600px;
}

.subheader .logo{
    display: flex;
    border: 2px solid #f9faf8;
    height: 50px;
    flex: 1 1 100px;
    padding: 0;
    border-radius: 30px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.subtitle{
    font-size: 18px;
    color: #E5E7EB;
}

.info{
    display: flex;
    font-size: 36px;
    font-weight: 900;
    justify-content: center;
    padding-top: 50px;

}
.image{
    border: 2px solid #3882F6;
    max-width: 150px;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:300px;
    padding-right: 300px;
    padding-top:50px;
    padding-bottom: 50px;
    gap:20px;
    text-align:justify;
}

.body .subtext{
    max-width: 150px;
    text-align: center;
}

.quote{
    display: flex;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 26px;
    font-style: light italic;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    flex-direction: column;
}
.quote .author{
    font-size: 20px;
    font-weight: 900;
    align-self: flex-end;
    padding: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
}

a{
    text-decoration: none;
    color: #f9faf8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    border: 2px solid, #3882F6;
    background-color: #3882F6;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    padding-left: 100px;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40px;
    align-items: space-evenly;

}

button{
    background-color: #3882F6;
    color: #f9faf8;
    width: 100px;
    border-radius: 5px;
    border-color: #3882F6;
    padding: 5px;
}
.call{
    font-weight: 800;
    font-size: 18px;
}

.container .butcall{
    border-color: #f9faf8;
}
